body{
    margin: 0%;
    background-color: rgb(3, 24, 8);
    color: rgb(236, 195, 171);
    text-align: center;
}
header{
    background-color: rgb(238, 191, 164);
    background-image: url(ground.png);
    color: rgb(244, 250, 244);
    text-align: center;
    gap: 40px;
    padding: 20px;
}
header p{
    font-size: 30px;
}
header h1{
    font-size: 50px;
}
body p{
    font-size: 30px;
}
body h3{
    font-size: 30px;
}
