body{
    background-color: rgb(4, 15, 3);
    color: rgb(245, 190, 183);
    text-align: center;
    font-size: 20px;
}
header{
    background-color: rgb(245, 189, 181);
    color: rgb(7, 34, 8);
    text-align: center;
}
header h1{
    font-size: 50px;
}
header p{
    font-size: 30px;
}
button{
    background-color: rgb(245, 195, 182);
    color: rgb(5, 26, 6);
}
button:hover{
    color: brown;
    font-size:40px;
    border: none;
    cursor: pointer;
    border: radius 80px; ;
    text-align: bold;
}
body p{
    font-size: 20px;
}



